/*variaveis*/
:root{
    --vermelho: #e50914;
    --preta: #141414;
}

/*resetando a pagina toda*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*limite da borda da caixa*/

}

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*estilizando o logo*/
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'arial black', 'Times New Roman', Times, serif;
    font-size: 40px;
}

/*estilizando os link*/
header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

/*quando o mouse passar por cima fica com outra cor */
header nav a:hover{
    color: white;
}

/*filme principal*/

.principal{
    font-size: 16px;
    /*definindo a imagem de fundo*/
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(/img/capa.jpg);
    /*definindo o tamanho limite*/
    height: 30rem;
    background-size: cover;
/*definindo o flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

/*definindo a distancia dos butoes a descricao*/
.principal .descricao{
    margin-bottom: 40px;
   margin-top: 10px;
}
/*definindo o tamanho do nome da serie*/
.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    
    
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    /*atrasando a transacao*/
    transition: .4s ease all;
}

/*quando o mouse estiver em cima ele muda*/
.botao:hover{
    background-color: white;
    color: black;
}

/*espacamento dos icones*/
.botao i{
    margin-right: 5px;
}

.botao a{
    text-decoration: none;
    color: var(--vermelho);
}


.container{
    margin-left: 20px;
}

.principal .container{
    width: 70%;
}

/*container dos posters*/
.box-filmes{
    height: 100%;
    width: 100%;
    display: block;
}

.filmes{
    margin: 5px;
}